<html
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
>
<head>
	<title>Cadastro - Orange Tools</title>
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

	<header>
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Lista de usuários</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li>
		        	<a href="/cadastrarUsuario" class="waves-effect waves-light btn">
						<i class="material-icons left">add_circle_outline</i>
						Cadastrar Usuário
					</a>
		        </li>
		      </ul>
		    </div>
		  </nav>
	</header>

	<body>	
		<table class="container">
			<thead>
				<tr>
					<th>CPF</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Data Nascimento</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario: ${usuarios}">
					<td><span th:text="${usuario.cpf}"></span></td>
					<td>
						<a th:href="${(#mvc.url('UC#detalhesUsuario').arg(0, usuario.id)).build()}">
						<span th:text="${usuario.nome}"></span>
						</a>
					</td>
					<td><span th:text="${usuario.email}"></span></td>
					<td><span th:text="${usuario.DataNascimento}"></span></td>
					<td>
						<a 
							th:href="${(#mvc.url('UC#deletarUsuario').arg(0, usuario.id)).build()}"
							class="waves-effect waves-light btn-small"
						>
						<i class="material-icons left">delete</i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<!--JavaScript at end of body for optimized loading-->
    	<script type="text/javascript" src="js/materialize.min.js"></script>
	</body>

</html>
